/* General Styles */

/* Header */
.header {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #89ab9d;
  /* Dark blue background */
  padding: 20px 0;
  /* Reduced padding */
  color: #fff;
  /* White text color */
}

/* Headings */
h1,
h2,
h3 {
  text-align: center;
  /* Center headings */
}

h1 {
  font-size: 48px;
  /* Slightly reduced font size */
  margin-top: 40px;
  /* Reset top margin */
  color: #fff;
}

h2,
h3 {
  font-size: 20px;
  color: #fff;
}

/* Navbar */
.navbar {
  background-color: #678579;
  /* Dark green background */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navbar-list {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

.navbar-link:hover {
  color: #ecf0f1;
}

/* Form */
form,
.update-form {
  margin-top: 20px;
  max-width: 1000px;
  background-color: #f9f9f9;
  /* Light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Soft shadow */
}

label {
  display: block;
  margin-bottom: 1px;
  font-weight: bold;
  color: #555;
  /* Dark gray label color */
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  /* Light gray border */
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #3498db;
  /* Blue border color on focus */
}

input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 24px;
  font-size: 16px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}

/* Specific Styles */

/* Hero Section */
.hero {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* Images */
img {
  max-width: 100%;
}

/* Building Cards */
.building-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1100px;
}

.card {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}

.card-title {
  margin-top: 0;
  color: #678579;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.card-text {
  display: flex;
  align-items: center;
}

.card-button {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-fav {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}

/* Update Occupancy Form */
.update-form {
  margin-top: 20px;
  /* Add space above the form */
  max-width: 1000px;
  /* Limit form width for better readability */
  background-color: #f9f9f9;
  /* Light gray background */
  padding: 20px;
  /* Add padding */
  border-radius: 10px;
  /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Soft shadow */
}

/* Label */
.update-form label {
  display: block;
  /* Make labels appear on their own line */
  margin-bottom: 1px;
  /* Add space below each label */
  font-weight: bold;
  /* Make labels bold */
  color: #555;
  /* Dark gray label color */
}

/* Input */
.update-form input {
  width: 100%;
  /* Make inputs take full width */
  padding: 12px;
  /* Adjust padding */
  margin-bottom: 10px;
  /* Add space below each input */
  border: 1px solid #ccc;
  /* Light gray border */
  border-radius: 8px;
  /* Add rounded corners */
  box-sizing: border-box;
  /* Include padding and border in element's total width */
  transition: border-color 0.3s;
  /* Smooth transition for border color */
}

.update-form input:focus {
  outline: none;
  /* Remove default focus outline */
  border-color: #3498db;
  /* Blue border color on focus */
}

/* Submit Button */
.update-form input[type="submit"] {
  background-color: #3498db;
  /* Blue background color for submit button */
  color: #fff;
  /* White text color for submit button */
  border: none;
  /* Remove border */
  border-radius: 8px;
  /* Add rounded corners */
  cursor: pointer;
  /* Show pointer cursor on hover */
  padding: 12px 24px;
  /* Adjust padding */
  font-size: 16px;
  /* Set font size */
  transition: background-color 0.3s;
  /* Smooth transition for background color */
}

.update-form input[type="submit"]:hover {
  background-color: #2980b9;
  /* Darker blue background color on hover */
}

/* Favorite Cards */
.fav-building-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 300px;
}

.fav-card {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}

.fav-card-title {
  margin-top: 0;
  color: #678579;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.fav-card-text {
  display: flex;
  align-items: center;
}

.fav-card-button {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
}

.fav-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .fav-card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .fav-card {
    width: 100%;
  }
}