.header {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f8f9fa; /* Light gray background */
  padding: 20px 0; /* Reduced padding */
}

h1 {
  font-size: 48px; /* Slightly reduced font size */
  margin-top: 15; /* Reset top margin */
}

h2 {
  padding-left: 10px;
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.hero {
  display: block;
  margin: 0 auto;
  width: 100%; /* Full container width */
}

img {
  max-width: 100%; /* Ensure images don't exceed container width */
}

.card {
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s; /* Smooth transition */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-top: 50px;
  padding: 0 50px;
}

.navbar {
  background-color: #343a40; /* Dark background color */
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar-list {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none; /* No bullet points for list */
}

.navbar-item {
  margin-right: 20px; /* Space between navbar items */
}

.navbar-link {
  color: white; /* White text for links */
  text-decoration: none; /* No underline */
  padding: 10px; /* Padding around links */
  font-size: 20px;
}

.navbar-link:hover {
  color: #adb5bd; /* Lighten text color on hover */
}

form {
  margin-top: 20px; /* Add space above the form */
}

label {
  display: block; /* Make labels appear on their own line */
  margin-bottom: 5px; /* Add space below each label */
  font-weight: bold; /* Make labels bold */
}

input {
  width: 100%; /* Make inputs take full width of their container */
  padding: 10px; /* Increased padding */
  margin-bottom: 15px; /* Add space below each input */
  border: 1px solid #ced4da; /* Light gray border */
  border-radius: 5px; /* Add rounded corners */
  box-sizing: border-box; /* Include padding and border in element's total width */
}

input[type="submit"] {
  background-color: #007bff; /* Blue background color for submit button */
  color: white; /* White text color for submit button */
  border: none; /* Remove border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  padding: 12px 20px; /* Increased padding */
  font-size: 16px; /* Set font size */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

input[type="submit"]:hover {
  background-color: #0056b3; /* Darker blue background color on hover */
}
